/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/*random*/
#mc-location{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
#mc-location li{
	display: inline;
}
#mc-location li > a{
	border-right: 1px solid black;
    display: inline-block;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
#mc-location li:last-child > a{
	border-right: 0;
}
/*random*/
/*list of suburb*/
#list-suburb{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
}
#list-suburb li{
  float:left;
  display:inline;
}
.double li  { width:50%;} /* 2 col */
.triple li  { width:33.333%; } /* 3 col */
.quad li    { width:25%; } /* 4 col */
.six li     { width:16.666%; } /* 6 col */
