/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
div.mc-error{
	display:block !important;
	margin:10px 0;
	border-color: #dd3d36;
	border-left: 4px solid #dd3d36;
	background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}
div.mc-sucess{
	display:block !important;
	margin:10px 0;
	border-color: #5cb85c;
	border-left: 4px solid #5cb85c;
	background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}
